/TugasWorkshop / web / views / index.jade
extends layout

block content
  h1= title
	p 
			
		|	Selamat datang di #{title}. Aplikasi ini sebagai tugas akhir Workshop. Aplikasi ini bertemakan Jus yang ke-25 dalam Al-Quran. Dalam aplikasi ini Anda dapat melihat 
		a(href="/jus25") daftar surat yang terdapat pad juz ke-25 :) .
